body{
    font-family: 'Verdana';
    background: #f2f2f2;
}

header{
    font-size: 14px;
    border: 1px solid #c5c5c5;
    text-align: center;
}

.show{
    display: block;
}

.hide{
    display: none;
}