---
layout: '../layouts/main.html'
---
{{##content:
    <div class="list-wrapper">
        <!-- Starting of If condition -->
        {{? model.productData.listContent }}
            
            <div class="list-title">
                <h1>{{= model.productData.listContent.label }}/h1>
                <span>( {{= model.productData.listContent.count }} )</span>    
            </div>
            <div class="list-content">
                {{~ model.productData.listContent.data :value:index}}
                    <div class="products">
                        <div class="image-view">
                            <amp-img
                                layout="responsive"
                                width="205"
                                height="274"
                                src={{= value.imageUrl }}
                            >
                            </amp-img>
                        </div>
                        <div class="info-view">

                        </div>
                    </div>
                {{~}}
            </div>
            
        <!-- Closing of If condition -->
        {{? }} 
    </div>
#}}